.login-container {
    display: flex;
    margin-top: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-image-thumbnail {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.input-box {
    display: block;
    box-sizing: border-box;
    width: 588px;
    height: 50px;
    margin-bottom: 10px;
    padding-left: 15px;
    background-color: "#3D96FF";
    border-radius: 10px;
    border: 2px solid #a6a6a6;
    background-color: #fafafa;
}

.login-title {
    display: block;
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 30px;
}

.login-btn {
    display: block;
    width: 588px;
    font-weight: bold;
    color: white;
    background-color: #3d96ff;
    border-radius: 10px;
    border: 2px solid #3d96ff;
    height: 50px;
    margin-top: 20px;
    cursor: pointer;
}

.horizontal-line {
    margin-top: 150px;
    margin-bottom: 5px;
    width: 588px;
    height: 2px;
    background: #B8B8B8;
}

.signup-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #3D96FF;
    display: float;
    float: right;
    ;
}